@layer library {
  .my-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: var(--spacing-sm) var(--spacing-md);
    color: var(--color-white);
    cursor: pointer;
    background-color: var(--color-primary);
    border: none;
    border-radius: var(--radius-md);
    transition: background-color 0.2s;

    &.is-loading {
      cursor: not-allowed;
      opacity: 0.7;
    }

    &:hover:not(.is-loading) {
      background-color: var(--color-primary-hover);
    }
  }
}
