@layer library {
  .my-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: var(--spacing-sm) var(--spacing-md);
    color: var(--color-white);
    cursor: pointer;
    background-color: var(--color-primary);
    border: none;
    border-radius: var(--radius-md);
    transition: all 0.2s;

    &:disabled,
    &[data-disabled],
    &[data-loading] {
      pointer-events: none;
      cursor: not-allowed;
      opacity: 0.7;
    }

    &:hover:not(:disabled, [data-loading]) {
      background-color: var(--color-primary-hover);
    }

    &[data-loading] {
      // color: transparent;
    }
  }
}
